*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts\Raleway-VariableFont_wght.ttf'); 
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}
.headerMain{
    width: 1340px;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display:flex;
    justify-content: space-around;

}

.navlink{
    padding: 50px 30px ;
    text-decoration: none;
    color:#000000; 
}
.navlink:active{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}
.inscription{
    padding-top: 50px;
    color: #0065FC;
    font-weight: bold;    
}

.logo{
    padding: 50px 0;
}

.searchSection{
    width: 1340px;
    margin:0 auto;
}
.searchSectionTitle{
    font-weight: bold;

}
.searchSectionPara{
    margin-top: 15px;
}

/* mise en forme de la section recherche*/
.searchBar{
    display: flex;
    height: 50px;
    align-content: center;
    margin-top: 25px;

}

.mapicon{
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    justify-content: center;
    align-items: center;
}

.searchTown{
    border:#F2F2F2 1px solid;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

button{
    border: none;
    background-color: #0065FC;
    color: #F2F2F2;
    font-size: 1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    padding-left:10px;   
    padding-right:10px; 
    font-weight: bold;
    width: 135px;
}

button:active{
    background-color: #F2F2F2;
    color: #0065FC;
}

.searchFilter{
    display:flex;
}
.searchFilter h3{
    margin: auto 0;
}

.filterSelection{
    display: flex;

}

.filterGroup i{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #0065fc;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.filterGroup i:hover{
    color: #DEEBFF;
    background-color: #0065fc;
}

.filterGroup{
    display:flex;
    height: 40px;
    border: #F2F2F2 1px solid;
    padding-right: 10px;
    border-radius: 50px;
    margin: 30px 25px;
}
.filterName{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-weight: bold;   
    margin: auto 0;
}
.filterGroup:hover{
    background-color: #0065fc;
    color: #fff;
}
/*mise en forme information*/
.fas.fa-info{
    display: flex;
    align-items: center;
    color:#0065FC;
    width: 0.4em;
    height: 0.4em;
    border: 1px #F2F2F2 solid;
    border-radius: 100%;
    padding:10px;
    margin-right: 10px;
}
.information p{
    display: flex;
    align-items: center;
}
.information{
    margin-bottom: 45px;
}
/*mise en forme Section hébergements*/

#lodging{
    width: 1340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#activities{
    width: 1340px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
a{
    text-decoration: none;
}

.lodgingSection{
    width:60%;
    background-color: #F2F2F2;
    border-radius: 50px;
    padding:0 50px;
}

.lodgingSectionTitle{
    font-weight: bold;
    margin:50px 40px 25px 40px;
}

.lodgingSectionResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgRoom{
    width: 235px;
    height: 190px;
    border-radius: 20px;
    border: #FFFFFF 5px solid;
    object-fit: cover;
}
.fullCard{
    position: relative;
}

.fullCard div{
    background-color: #FFFFFF;
    position: relative;
    bottom:80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.lodgingCardTitle{
    color: #000000;
    font-weight: bolder;
    margin:5px 0;
}
.prix{
    margin-bottom:5px;
}
ul{
    display: flex;
    list-style-type: none;
    color:#F2F2F2;
}
.port li:nth-child(-n+4){
    color:#0065FC;
}

.cannebiere li:nth-child(-n+5){
    color:#0065FC;

}
.mouette li:nth-child(-n+4){
    color:#0065FC;
}
.mer li:nth-child(-n+3){
    color:#0065FC;
}
.panier li:nth-child(-n+4){
    color:#0065FC;
}
.amina li:nth-child(-n+5){
    color:#0065FC;
}

.afficher{
    font-weight: bold;
    color: black;
    padding-bottom: 25px;
}

/*Mise en place de la section aside popular*/
.popularSection{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 50px;
}
.popularFullcontainer{
    display: flex;
    flex-direction: column;

}
.popularSectionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin:45px 40px 0px 40px;
}
.popularFullcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardAside{
    display: flex;
    justify-content: center;
    width: 335px;
    height: 145px; 
    border: #FFFFFF solid 4px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 30px auto;
}

.popularImgRoom{
    width:125px ;
    height: 145px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
}
.popularCard div{
    color: black;
}

.popularCard h3{
    padding: 12px 20px 15px 20px;
}
.popularPrix{
   padding: 0 20px 30px 20px; 
}
.popularCard ul{
    padding:0 20px 5px 20px;
}
.matin li:nth-child(-n+5){
    color:#0065FC;
}
.eau li:nth-child(-n+4){
    color:#0065FC;
}
.blanc li:nth-child(-n+4){
    color:#0065FC;
}
.activitieSection{
    width: 1340px;
    margin-bottom: 60px;
    
}
.activitieSection h2{
    margin: 60px 50px 20px 40px;
}

.activitieImg{
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #f2f2f2 5px 5px 10px;
}

.activitieCardIn{
    position: relative;
    display: flex;
}
.activitieCardIn h3{
    position: absolute;
    background-color: #fff;
    color: #000000;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
    height: 55px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:20px;
}

.activitieFullContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 445px;
}
.containerChild{
    display: flex;
    justify-content: space-around;
}
.activitieFullContainer :nth-child(2n){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}
.activitieFullContainer::nth-child(2n+1){
    height: 445px;
    box-sizing: border-box;
}

/*Mise en place du footer*/
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    color: #000000;
    padding-top: 25px;
}
@media screen and (max-width:1080px){

    .main{
        width:100%;
        display: block;
    }
}
