* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Raleway";
	src: url("fonts\Raleway-VariableFont_wght.ttf");
}

body {
	font-family: "Raleway", sans-serif;
}
#container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 50px;
}
/*--------------------MISE EN FORME DU HEADER---------------------*/
.headerMain {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	max-width: 1440px;
	margin: 0 auto;
}
.logo img {
	padding: 50px 0;
	max-width: 100%;
	height: auto;
	align-items: baseline;
}
.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.navlink {
	padding: 50px 30px;
	flex-wrap: wrap;
	text-decoration: none;
	color: #000000;
}
.navlink:hover {
	color: #0065fc;
	border-top: 3px solid #0065fc;
	font-weight: bold;
}

.inscription {
	padding-top: 50px;
	color: #0065fc;
	font-weight: bold;
}

/*--------------------MISE EN FORME DE LA SECTION RECHERCHE--------------------*/
.searchSection {
	max-width: 1440px;
	margin: 0 auto;
}
.searchSectionTitle {
	font-weight: bold;
}
.searchSectionPara {
	margin-top: 15px;
}

.searchBar {
	display: flex;
	height: 50px;
	align-content: center;
	padding: 30px 0;
}
.mapicon {
	display: flex;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #f2f2f2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	justify-content: center;
	align-items: center;
}

.searchTown {
	border: #f2f2f2 1px solid;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
}

.desktop {
	display: inline;
	border: none;
	background-color: #0065fc;
	color: #f2f2f2;
	font-size: 1em;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	width: 135px;
}
.mobile {
	display: none;
}

button:active {
	background-color: #f2f2f2;
	color: #0065fc;
}

/*--------------------MISE EN FORME DES FILTRES--------------------*/
.searchFilter {
	display: flex;
}

.searchFilter h3 {
	margin: auto 0;
}

.filterSelection {
	display: flex;
	flex-wrap: wrap;
}

.filterGroup i {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065fc;
	background-color: #deebff;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.filterGroup {
	display: flex;
	height: 40px;
	border: #f2f2f2 1px solid;
	padding-right: 10px;
	border-radius: 50px;
	margin: 30px 25px;
}
.filterName {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	font-weight: bold;
	margin: auto 0;
}
.filterGroup:hover {
	background-color: #0065fc;
	color: #fff;
}
/*mise en forme information*/
.fas.fa-info {
	display: flex;
	align-items: center;
	color: #0065fc;
	width: 0.4em;
	height: 0.4em;
	border: 1px #f2f2f2 solid;
	border-radius: 100%;
	padding: 10px;
	margin-right: 10px;
}
.information p {
	display: flex;
	align-items: center;
}
.information {
	margin-bottom: 45px;
}
/*--------------------MISE EN FORME SECTION HEBERGEMENTS--------------------*/

#lodging {
	max-width: 1440px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
}
a {
	text-decoration: none;
}
.lodgingSection {
	max-width: 1340px;
	width: 60%;

	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 0 auto;
}

.lodgingSectionTitle {
	font-weight: bold;
	margin: 50px 40px 25px 40px;
}

.lodgingSectionResult {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.imgRoom {
	width: 235px;
	height: 190px;
	border-radius: 20px;
	border: #ffffff 5px solid;
	object-fit: cover;
}
.fullCard {
	position: relative;
}
.fullCard:hover {
	transform: scale(1.1);
}

.fullCard div {
	background-color: #ffffff;
	position: relative;
	bottom: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 5px 10px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.lodgingCardTitle {
	color: #000000;
	font-weight: bolder;
	margin: 5px 0;
}
.prix {
	margin-bottom: 5px;
	color: #000000;
}
ul {
	display: flex;
	list-style-type: none;
	color: #f2f2f2;
}
.port li:nth-child(-n + 4) {
	color: #0065fc;
}

.cannebiere li:nth-child(-n + 5) {
	color: #0065fc;
}
.mouette li:nth-child(-n + 4) {
	color: #0065fc;
}
.mer li:nth-child(-n + 3) {
	color: #0065fc;
}
.panier li:nth-child(-n + 4) {
	color: #0065fc;
}
.amina li:nth-child(-n + 5) {
	color: #0065fc;
}

.afficher {
	font-weight: bold;
	color: black;
	padding-bottom: 25px;
	padding-left: 40px;
}

/*--------------------MISE EN PLACE DE LA SECTION POPULAR ASIDE--------------------*/

.popularSection {
	min-width: 30%;
	max-width: 60%;
	background-color: #f2f2f2;
	border-radius: 20px;
}
.popularFullcontainer {
	display: flex;
	flex-direction: column;
}
.popularSectionTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	margin: 45px 40px 0px 40px;
}
.popularFullcontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 20px;
}
.cardAside {
	display: flex;
	justify-content: center;
	width: 335px;
	height: 145px;
	box-sizing: border-box;
	border: #ffffff solid 4px;
	border-radius: 20px;
	background-color: #ffffff;
	margin: 30px auto;
	overflow: hidden;
}
.popularCard:hover {
	transform: scale(1.1);
}
.popularImgRoom {
	width: 125px;
	height: 145px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.popularCard div {
	color: black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.popularCard h3 {
	padding: 12px 15px 15px 15px;
}
.popularPrix {
	padding: 0 20px 20px 20px;
}
.popularCard ul {
	padding: 0 20px 5px 20px;
}
.matin li:nth-child(-n + 5) {
	color: #0065fc;
}
.eau li:nth-child(-n + 4) {
	color: #0065fc;
}
.blanc li:nth-child(-n + 4) {
	color: #0065fc;
}

/*--------------------MISE EN FORME DE LA SECTION ACTIVITES--------------------*/
#activities {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}
.activitiesSection {
	width: 1440px;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.activitiesSection h2 {
	margin: 60px 50px 20px 0px;
}
.activitiesCard:hover {
	transform: scale(1.1);
}
.activitiesImg {
	width: 300px;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: #f2f2f2 5px 5px 10px;
	overflow: hidden;
}

.activitiesCardIn {
	position: relative;
	display: flex;
}
.activitiesCardIn h3 {
	position: absolute;
	background-color: #fff;
	color: #000000;
	box-sizing: border-box;
	width: 100%;
	bottom: 0px;
	height: 55px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 20px;
}

.activitiesFullContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
}

.activitiesFullContainer :nth-child(2n) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}
.activitiesFullContainer::nth-child(2n + 1) {
	height: 447px;
	box-sizing: border-box;
	object-fit: cover;
}

/*--------------------MISE EN FORME DU FOOTER-------------------*/
footer {
	height: 220px;
	width: 100%;
	background-color: #f2f2f2;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	padding: 0 50px;
}
footer div {
	padding: 50px;
	justify-content: flex-start;
}
.column p {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
}
.column a {
	text-decoration: none;
	color: #000000;
	padding: 0.5em 0;
}
.column a:hover {
	color: #0065fc;
	font-weight: bold;
}

/*__________________________________________________________________________________________________________________________________*/
/*--------------MISE EN FORME DE LA MEDIA QUERY MAX-WIDTH 1024px---------------------------*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.main {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	.searchFilter {
		display: block;
	}
	#lodging {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
	}
	.lodgingSectionResult {
		width: 100%;
		margin: 0 auto;
		justify-content: space-around;
	}
	.lodgingSection {
		width: 100%;
		margin: 0 auto 30px 0;
	}
	.popularSection {
		width: 100%;
		margin: 0 auto;
		justify-content: space-around;
	}
	.activities {
		display: block;
	}
	.activitiesImg {
		width: 335px;
		height: 190px;
		box-sizing: border-box;
	}

	.activitiesSection {
		display: block;
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	}
	.activitiesFullContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.containerChild {
		display: flex;
	}
	.activitiesCard {
		display: block;
		margin: 20px;
	}
	footer {
		width: 1024px;
		max-width: 100%;
		background-color: #f2f2f2;
		display: flex;
		margin: 0 auto;
		justify-content: space-around;
	}
}
/*__________________________________________________________________________________________________________________________________*/
/*----------------------------MISE EN FORME DE LA MEDIA QUERY MAX-WIDTH 768px---------------------------*/
@media screen and (max-device-width: 768px) {
	#container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.headerMain {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
	.logo img {
		padding: 35px 0 0 20px;
		width: 100px;
		max-width: 50%;
		height: auto;
		align-items: baseline;
	}
	.inscription {
		position: absolute;
		color: #0065fc;
		max-width: 50%;
		border-bottom: none !important;
		top: 8px;
		right: 40px;
	}
	.inscription:hover {
		color: #0065fc;
		border-top: none;
	}
	.navbar {
		justify-content: space-between;
	}
	.navlink {
		display: flex;
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.navlink:nth-child(1) {
		max-width: 50%;
		border-bottom: 2px solid #f2f2f2;
	}
	.navlink:hover {
		color: #0065fc;
		border-top: none !important;
		border-bottom: 2px solid #0065fc;
	}
	.navlink:nth-child(2) {
		max-width: calc(100%-50%);
		border-bottom: 2px solid #f2f2f2;
	}
	.searchSection {
		margin: 30px auto;
		padding: 0 20px;
	}
	.mapicon {
		min-width: 50px;
	}
	.searchTown {
		border: #f2f2f2 1px solid;
		font-size: 1em;
		text-align: center;
		font-weight: bold;
	}
	.mobile {
		display: inline;
		border: none;
		position: relative;
		right: 10px;
		background-color: #0065fc;
		color: #f2f2f2;
		font-size: 1em;
		border-radius: 15px;
		padding-left: 10px;
		padding-right: 10px;
		font-weight: bold;
		width: 50px;
	}
	.desktop {
		display: none;
	}
	.searchFilter {
		display: block;
	}
	.filterGroup {
		display: flex;
		height: 40px;
		border: #f2f2f2 1px solid;
		padding-right: 10px;
		border-radius: 50px;
		margin: 10px 10px;
	}
	.information {
		margin: 30px auto 45px 0px;
	}
	.main {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	/*MISE EN PAGE ASIDE SECTION POPULAR*/
	.popularSection {
		width: 100%;
		max-width: 768px;
		margin: 0;
		border-radius: 0px;
		background-color: #f2f2f2;
		padding: 10px 20px;
	}
	/*MISE EN FORME DE LA PARTIE LODGING MAX-WIDTH:768px*/

	#lodging {
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		flex-wrap: nowrap;
		padding: 0 auto;
	}
	a {
		text-decoration: none;
	}
	.lodgingSection {
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
		background-color: #ffffff;
		border-radius: 20px;
		padding: 0 auto;
	}

	.popularSectionTitle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: bold;
		margin: 45px 10px 0px 1s0px;
	}

	.lodgingSectionResult {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.imgRoom {
		width: 330px;
		height: 190px;
		border-radius: 20px;
		border: #ffffff 5px solid;
		box-shadow: 5px 5px 5px lightgrey;
		object-fit: cover;
	}
	.fullCard {
		display: flex;
		justify-content: center;
		width: 335px;
		height: 195px;
		box-sizing: border-box;
		border: #ffffff solid 4px;
		box-shadow: 5px 5px 5px lightgrey;
		border-radius: 20px;
		background-color: #ffffff;
		margin: 20px auto;
		overflow: hidden;
	}
	.fullCard:hover {
		transform: scale(1.1);
	}

	.fullCard div {
		background-color: #ffffff;
		width: auto;
		position: relative;
		bottom: 90px;
		left: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		box-shadow: 5px 5px 5px lightgrey;
	}

	.prix {
		margin-bottom: 5px;
		color: #000000;
	}
	ul {
		display: flex;
		list-style-type: none;
		color: #f2f2f2;
	}
	.port li:nth-child(-n + 4) {
		color: #0065fc;
	}

	.cannebiere li:nth-child(-n + 5) {
		color: #0065fc;
	}
	.mouette li:nth-child(-n + 4) {
		color: #0065fc;
	}
	.mer li:nth-child(-n + 3) {
		color: #0065fc;
	}
	.panier li:nth-child(-n + 4) {
		color: #0065fc;
	}
	.amina li:nth-child(-n + 5) {
		color: #0065fc;
	}

	.afficher {
		font-weight: bold;
		color: black;
		margin: 30px auto;
		text-align: start;
	}

	/*MISE EN PAGE ASIDE SECTION ACTIVITIES*/
	#activities {
		display: block;
		max-width: 768px;
	}
	.activitiesImg {
		width: 335px;
		height: 190px;
		box-sizing: border-box;
	}
	.activitiesSection {
		display: block;
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
	}
	.activitiesFullContainer {
		margin: 20px auto;
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
	}
	.activitiesCardIn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
		margin-bottom: 20px;
		box-shadow: 5px 5px 5px lightgrey;
	}
	footer {
		height: auto;
		display: block;
		width: 768px;
		max-width: 100%;
	}
	footer div {
		padding: 20px;
		font-size: 1.2em;
		justify-content: flex-start;
	}
}
